@charset "utf-8";

/*
header {
	background-image: url(work.jpg);
	background-size: cover;
}
*/

section {
	padding: 15% 0;
	background-image: url(work.jpg);
	background-size: cover;
	height: 100%;
}

#title-text {
	padding: 20px;
	background-color: rgba(255,255,255,0.35);
/*	color: rebeccapurple;*/
}
.lead {
	font-size: 1.4rem;
	color: #111;
}

.card-body {
	height: 10rem;
}

.card-body p {
	height: 5rem;
}

.navbar {
	height: 3rem;
}

a {
	text-decoration: none;
	color: brown;
}
