@charset "utf-8";


section {
	padding: 12% 0;
	background-image: url(images/work.jpg);
	background-size: cover;
	height: 100%;
}

.navbar-toggler{
	margin-left: auto;
	margin-right: 1rem;
}

#title-text {
	background-color: rgba(255,255,255,0.35);
}

.lead {
	font-size: 1.4rem;
	color: #C92828;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar-dark .navbar-toggler{
	border: none;
}

.btn-group{
	width: 100%;
}

.card-body {
	height: 10rem;
}

.card-body p {
	height: 5rem;
}


a {
	text-decoration: none;
	color: brown;
}
