@charset "utf-8";


section {
	padding: 12% 0;
	background-image: url(images/work.jpg);
	background-size: cover;
	height: 100%;
}

#wrapper {
	height: 100vh;
}

h1 {
	font-size: 2rem;
	margin: 0;
}

.navbar-toggler {
	margin-left: auto;
	margin-right: 1rem;
}

#page-title {
	color: #DEDEDE;
}

#title-text {
	background-color: rgba(255, 255, 255, 0.35);
}

span a:hover,
span a {
	text-decoration: none;
	color: #DEDEDE;
}

.col {
	margin-bottom: 15px;
}

.lead {
	font-size: 1rem;
	color: #C92828;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	margin: 0 3rem;
}

.navbar-dark .navbar-toggler {
	border: none;
}

.btn {
	width: 7rem;
}

.menu-btn {
	margin: 0 1rem;
}

.btn-group {
	width: 100%;
}

.card-body {
	height: 10rem;
}

.card-body p {
	height: 5rem;
}

#copy {
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

#page_top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: rgba(203, 203, 203, 0.75);
}

#page_top a {
	position: relative;
	display: block;
	width: 50px;
	height: 40px;
	text-decoration: none;
}

#page_top a::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f062';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

.form {
	width: 70%;
	margin: 1rem auto;
}


p {
	margin: 0;
}

h5 {
	margin: 2rem 1rem;
}

label {
	margin: .5rem 0 0;
	/*	font-size: 1.2rem;*/
}

input,
textarea {
	width: 100%;
	resize: none;
}

#submit,
#back {
	height: 3rem;
	width: 100%;
	margin-top: 2rem;
}

#back {
	display: none;
}

#error {
	color: red;
}

/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {
	#page-title {
		font-size: 1.8rem;
	}

	h1 {
		font-size: 2.8rem;
	}

	.lead {
		font-size: 1.6rem;
	}

	.form {
		width: 40%;
		margin: 2rem auto 2rem 4rem;
	}

	#submit,
	#back {
		height: 3rem;
		width: 30%;
		margin: 2rem;
	}

	.btnline {
		display: flex;
	}

}
